.contenedor {
    padding:0;
    margin:0 auto;
    max-width: var(--max-width);
}

.cabecera {
    font-size: 2rem;
    background-color: var(--color-fondo-header);
    color: var(--color-secundario);
    padding: 1.5rem;
}

#nuevo-estado {
    display: flex;
    justify-content:flex-end;
}
#btn-nuevo, #btn-estado {
    margin: 0 25px;
    
}

.table {
    margin-right: auto;
    margin-left: auto;
}

#error {
    color: red;
    margin:1rem 30%;
}

#selector, #inputs  {
    display: flex;
    justify-content: space-between;
    gap: 30px 10px;
    /* align-items: stretch; */
}

.label {
    margin-top: 9px;
    padding: 0 1rem;
}

#precio-uni {
    display: flex;
    justify-content:flex-end;
}

#botones {
    display: flex;
    justify-content:space-evenly;
}

.footer {
    padding: 1.5rem;
    background-color: var(--color-fondo-header);
    color: var(--color-secundario);
}