.contenedor {
    padding:0;
    margin:0 auto;
    max-width: var(--max-width);
    /* background-color: var(--color-fondo); */
}

.cabecera {
    font-size: 2rem;
    background-color: var(--color-fondo-header);
    color: var(--color-secundario);
    padding: 1.5rem;
}

.button.is-dark {
    margin:0 30%;
}

.table {
    /* background-color: var(--color-fondo); */
    margin-right: auto;
    margin-left: auto;
}

.form-alta {
    display: flex;
    justify-content:space-around;
}

#error {
    color: red;
    margin:1rem 30%;
}

.footer {
    padding: 1.5rem;
    background-color: var(--color-fondo-header);
    color: var(--color-secundario);
}