<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Balance de movimientos</title>
        <link rel="shortcut icon" href="/static/img/favicon.ico">
        <link rel="stylesheet" href="/static/css/variables.css">
        <link rel="stylesheet" href="/static/css/bulma.css">
        <link rel="stylesheet" href="/static/css/styles.css">
        <script src="/static/js/spa.js"></script>
    </head>
    <body>
        <header class="cabecera">
            <p>CryptoGrifo</p>
        </header>
        <section class="contenedor">
            <article id="botones-selector">
                <div class="field is-grouped" id="nuevo-estado">
                    <button class="button is-dark is-medium" id="btn-lista">Movimientos</button>
                    <button class="button is-dark is-medium" id="btn-busca">Buscar movimientos</button>
                    <button class="button is-dark is-medium" id="btn-nuevo">Nuevo</button>
                    <button class="button is-dark is-medium" id="btn-estado">Estado</button>
                </div>
            </article>
            <article id="tabla-movimientos" class="inactivo">
                <h1 class="title is-1" >Lista de movimientos</h1>
                <table class="table">
                    <thead>
                        <th>Fecha</th>
                        <th>Hora</th>
                        <th>From</th>
                        <th>Cantidad</th>
                        <th>To</th>
                        <th>Cantidad</th>
                    </thead>
                    <tbody id="tabla-datos"></tbody>
                </table>
            </article>
            <article id="busqueda" class="inactivo">
                <h1 class="title is-1">Busqueda de movimiento</h1>
                <form id="form-busca">
                    <div class="field is-grouped">
                        <label class="label">ID</label>
                        <div class="control">
                            <input type="number" class="input" id="identificador">
                        </div>
                        <button class="button is-info" id="btn-buscar">Buscar</button>
                    </div>
                </form>
            </article>
            <article id="formulario-alta" class="inactivo">
                <h1 class="title is-1">Alta movimientos</h1>
                <form id="form-alta" >
                    <div class="field is-grouped" id="selector">
                        <div class="field is-grouped">
                            <label class="label">From:</label>
                            <div class="control">
                                <div class="select">
                                    <select id="from">
                                        <option value="EUR">EUR - Euro</option>
                                        <option value="BTC">BTC - Bitcoin</option>
                                        <option value="ETH">ETH - Ethereum</option>
                                        <option value="LTC">LTC - Litecoin</option>
                                        <option value="XRP">XRP - Ripple</option>
                                        <option value="USDT">USDT - Tether</option>
                                        <option value="XLM">XLM - Stellar Lumens</option>
                                        <option value="BNB">BNB - Binance Coin</option>
                                        <option value="EOS">EOS - EOS</option>
                                        <option value="BCH">BCH - Bitcoin Cash</option>
                                        <option value="TRX">TRX - TRON</option>
                                        <option value="ADA">ADA - Cardano</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="field is-grouped">
                            <label class="label">To:</label>
                            <div class="control">
                                <div class="select">
                                    <select id="to">
                                        <option value="EUR">EUR - Euro</option>
                                        <option value="BTC">BTC - Bitcoin</option>
                                        <option value="ETH">ETH - Ethereum</option>
                                        <option value="LTC">LTC - Litecoin</option>
                                        <option value="XRP">XRP - Ripple</option>
                                        <option value="USDT">USDT - Tether</option>
                                        <option value="XLM">XLM - Stellar Lumens</option>
                                        <option value="BNB">BNB - Binance Coin</option>
                                        <option value="EOS">EOS - EOS</option>
                                        <option value="BCH">BCH - Bitcoin Cash</option>
                                        <option value="TRX">TRX - TRON</option>
                                        <option value="ADA">ADA - Cardano</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field is-grouped" id="inputs">
                        <div class="field is-grouped">
                            <label class="label">Cantidad</label>
                            <div class="control">
                                <input type="text" class="input" id="cantidad-from">
                            </div>
                            <button class="button is-info" id="calcular"><img class="image is-32x32" src="/static/img/calc.png" alt="Calculadora"></button>
                        </div>
                        <div class="field is-grouped">
                            <label class="label">Cantidad</label>
                            <div class="control" id="input-to">
                                <input type="text" class="input" id="cantidad-to" value=0 disabled>
                            </div>
                        </div>
                    </div>
                    <div class="field is-grouped" >
                        <label class="label">Precio unitario</label>
                        <div class="control">
                            <input type="text" class="input"id="precio-uni" value=0 disabled>
                        </div>
                    </div>
                    <div class="field is-grouped" id="botones">
                        <button class="button is-success" id="aceptar">Aceptar</button>
                        <button class="button is-danger" id="cancelar">Cancelar</button>
                    </div>
                </form>
            </article>
            <article id="estado" class="inactivo">
                <h1 class="title is-1" >Estado de la inversión</h1>
                <div class="field is-grouped">
                    <label class="label">Invertido:</label>
                    <div class="control">
                        <input type="text" class="input" disabled>
                    </div>
                </div>
                <div class="field is-grouped">
                    <label class="label">Valor:</label>
                    <div class="control">
                        <input type="text" class="input" disabled>
                    </div>
                </div>
                <div class="field is-grouped">
                    <label class="label">Resultado</label>
                    <div class="control">
                        <input type="text" class="input" disabled>
                    </div>
                </div>
            </article>
        </section>
        <footer class="footer">
            <p>&copy; 2021 - Todos los derechos reservados</p>
        </footer>
    </body>
</html>